<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
  </head>
  <body>
    <div class="content">
      <div class="content-item">

    <table class="table">
      <thead>

        <tr>
          <th scope="col">№</th>
          <th scope="col">Код предмета</th>
          <th scope="col">Женщин p211</th>
          <th scope="col">Женщин p2124</th>
          <th scope="col">Женщин p213</th>
        </tr>
      </thead>
      <tbody>
        {% for subject in area.subjects %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{subject.code}}</td>
          <td>{{subject.P211[0].women_amount}}</td>
          <td>{{subject.P2124[0].women_amount}}</td>
          <td>{{subject.P213[0].women_amount}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>


        <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Страна</th>
          <th scope="col">Код</th>
        </tr>
      </thead>
      <tbody>
        {% for bachelor in area.postgraduate_bachelors %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{bachelor.country_id}}</td>
          <td>{{bachelor.code}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


        <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Страна</th>
        </tr>
      </thead>
      <tbody>
        {% for master in area.postgraduate_masters %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{master.country_id}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Страна</th>
        </tr>
      </thead>
      <tbody>
        {% for specialist in area.postgraduate_specialists %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{specialist.country_id}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
